@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
:root{
    --font-page: 'Public Sans', sans-serif;
    --text-size: 16px;
    /*Primary colors*/
    --pri-dark-blue: hsl(233, 26%, 24%);
    --pri-lime-green: hsl(136,65%,51%);
    --pri-bright-cyan: hsl(192, 70%, 51%);

    /*Neutral colors*/
    --neu-grayish-blue: hsl(322, 8%, 62%);
    --neu-l-grayish-blue: hsl(220, 16%, 96%);
    --new-ve-light-gray: hsl(0, 0%, 98%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Header navbar*/

#header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding: 0 6.5%;
}
#header .boton-nav{
    background-image: linear-gradient(to right ,var(--pri-lime-green), var(--pri-bright-cyan));
    padding: .7rem 1.7rem;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    font-family: var(--font-page);
    font-size: 80%;
}
#header ul{
    display:flex;
    height: 100%;
}
#header ul li{
    list-style: none;
    padding: 0 15px;
    height: 100%;
    display: flex;
    align-items: center;
}
#header ul li a{
    font-family: var(--font-page);
    text-decoration: none;
    color: #000;
    font-weight: 400;
    height: 100%;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;

}
#header ul li a:hover{
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right ,var(--pri-lime-green), var(--pri-bright-cyan)) 1;
}
#header ul li img{
    margin-right: 30px;
}
.toggle{
    display: none;
}
@media (max-width: 768px){
    .divicion{
        width: 100vw;
        height: 100vh;
        background-image:linear-gradient(to bottom, rgba(9, 9, 9, 0.76) 0%, rgba(4, 4, 4, 0) 100%);
        position: absolute;
        display: none;
    }
    .divicion.show{
        display: block;
        
    }
    #header ul{
        position: absolute;
        top: -100%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: auto;
        padding: 25px;
        text-align: center;
        overflow: auto;
        background-color: var(--new-ve-light-gray);
        flex-direction: column;
        opacity: 0;
        border-radius: 15px;
        z-index: 1;
    }
    #header .boton-nav{
        display: none;
    }
    .logo{
        color: #fff;
    }
    #header{
        background-color: var(--new-ve-light-gray);
        height: 65px;
    }
    #header.active1 ul{
        opacity: 1;
        top: 90px;
    }
    #header ul li a{
        margin: 5px 0;
        font-size: 24px;
        color: black;
        height: auto;
        width: 100%;
        justify-content: center;
    }
    .toggle{
        display: block;
        position: relative;
        width: 50px;
        height: 50px;
        background-image: url(../img/icon-hamburger.svg);
        cursor: pointer;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
    }
    #header.active1 .toggle{
        background-image: url(../img/icon-close.svg);
        background-repeat: no-repeat;
        background-size: 50%;
    }
}


header .footer .img{
    padding: 0;
}
header .footer .container{
    max-width: none;
}
header .footer .img img{
    background-image: url(../img/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-position: 0 5.7rem;
    background-size: 100%;
    width: 100%;
    position: relative;
    top: -30%;
    z-index: -1;
}
header .footer .text{
    margin-top: -35%;
    padding-bottom: 100px;
}
header .footer .text h2{
    font-size: 2.4rem;
    font-family: var(--font-page);
}
header .footer .text p{
    font-size: var(--text-size);
    color: var(--neu-grayish-blue);
    margin-bottom: 50px;
}
header .footer .text a, footer .fin a{
    background-image: linear-gradient(to right ,var(--pri-lime-green), var(--pri-bright-cyan));
    padding: 1rem 2rem;
    border-radius: 25px;
    color: white;
    text-decoration: none; 
}

@media(min-width: 768px){
    header .footer{
        height: 700px;
    }
    header .footer .row{
        flex-direction: row-reverse;
        background-color: var(--new-ve-light-gray)
    }
    header .footer .img{
        overflow: hidden;
        background-image: url(../img/bg-intro-desktop.svg);
        background-size: 50rem;
        background-position: 10% -6rem;
        background-repeat: no-repeat;
    }
    header .footer .img img{
        width: 40rem;
        top: -9rem;
        right: -6rem;
        z-index: 0;
        background: none;
    }
    header .footer .text{
        margin: 0;
        padding-top: 10%;
        padding-left: 10%;
        text-align: left !important;
    }
    header .footer .text h2{
        max-width: 400px;
        font-size: 50px;
    }
    header .footer .text p{
        font-size: var(--text-size);
        padding-right: 16%;
    }
    
}
/*sections*/
#why{
    background-color: var(--neu-l-grayish-blue);
}
#why .header{
    padding-top: 50px;
}
#why .header h2{
    font-size: 2rem;
    padding: 25px 25px 10px;
    font-family: var(--font-page);
}
#why .header p{
    font-size: var(--text-size);
    color: var(--neu-grayish-blue);
}
#why .items{
    text-align: center;
    padding: 15px;
    
}
#why .items .item{
    padding: 20px 10px;
}
#why .items .item h3{
    margin: 20px 0;
    font-family: var(--font-page);
}
#why .items .item p{
    color: var(--neu-grayish-blue);
    font-size: 16px;
}

@media(min-width: 768px){
    main{
        margin-top: -15%;
    }
    #why {
        padding: 25px 0;
    }
    #why .header{
        text-align: left !important;
    }
    #why .header h2{
        padding: 20px 0;
    }
    #why .header p{
        width: 600px;
    }
    #why .items{
        text-align: left;
    }
}

/*Inicio section2 (articles)*/
#articles{
    background-color: var(--new-ve-light-gray);
    padding: 50px 0;
}
#articles .header{
    text-align: center;
    font-family: var(--font-page);
}
#articles .header h2{
    font-size: 2rem;
}
#articles .article .card{
    border-radius: 10px;
    margin-top: 15px;
    border: none;
}
#articles .article .card img{
    border-radius: 10px 10px 0 0;
}
#articles .article .card .card-body{
    padding: 30px;
}
#articles .card .card-author{
    font-size: 12px;
    font-family: var(--font-page);
    color: var(--neu-grayish-blue);
}
#articles .card .card-title{
    padding: 0;
    font-size: 17px;
    font-family: var(--font-page);
    margin-bottom: 15px;
}
#articles .card .card-text{
    color: var(--neu-grayish-blue);
    font-family: var(--font-page);
    font-size: 14px;
}
@media(min-width: 768px){
    #articles .header{
        text-align: left;
        padding-bottom: 15px;
    }
    #articles .header h2{
        font-weight: 300;
    }
    #articles .article .card .card-body{
        padding: 20px;
    }
    #articles .article .card img{
        height: 200px;
    }
}

/*Footer*/
footer{
    background-color: var(--pri-dark-blue);
    padding: 30px;
}
footer .header{
    text-align: center;
}
footer .logo{
    padding: 10px;
}
footer .redes{
    display: flex;
    justify-content: center;
    padding: 0;
}
footer .redes li{
    font-size: 2rem;
    list-style: none;
    padding: 5px;
    
}
footer .redes a{
    color: white;
}
footer .items{
    text-align: center;
}
footer .item{
    padding: 0;
    margin: 0;
    list-style: none;
}
footer .item li{
    padding: 5px;
}
footer .item a{
    font-family: var(--font-page);
    text-decoration: none;
    color: white;
    font-weight: 300;
}

footer .fin{
    text-align: center;
    color: white;
    padding-top: 50px;
}
footer .fin p{
    padding-top: 40px;
    font-family: var(--font-page);
    color: var(--neu-l-grayish-blue);
    font-weight: 300;
    opacity: .8;
}
@media(min-width: 768px){
    footer{
        padding: 2%; 
    }
    footer .header{
        position: relative;
        padding-top: 10px;
    }
    footer .items{
        display: flex;
        text-align: left;
        padding-top: 20px;
    }
    footer .item{
        padding-right: 20%;
    }
    footer .item a{
        font-size: 18px;
    }
    footer .item li{
        padding: 5px 0;
    }
    footer .redes{
        position: absolute;
        bottom: 0;
        left:0;
        right:0;
        margin-left: auto;
        margin-right: auto;
    }
    footer .logo img{
        width: 10rem;
    }
}